<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #input[type=text] {
            width: 100%;
            padding: 12px 0px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<h3>Add City</h3>
<p>
    <a th:href="@{/city/index}">
        Back to city list
    </a>
</p>
<div id="form">
    <form th:object="${city}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
            <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label>Nation</label>
            <select th:field="*{nation}">
                <th:block th:each="c: ${nations}">
                    <option th:value="${c.id}" th:text="${c.name}"></option>
                </th:block>
            </select>
        </div>
        <div>
            <label>Acreage</label>
            <input
                    style="width: 100%;
                    padding: 12px 0px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;"
                    type="number" th:field="*{acreage}"/>
            <span style="color: red" th:if="${#fields.hasErrors('acreage')}" th:errors="*{acreage}">Acreage Error</span>
        </div>
        <div>
            <label>Population</label>
            <input  style="width: 100%;
                    padding: 12px 0px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;"
                    type="number" th:field="*{population}"/>
            <span style="color: red" th:if="${#fields.hasErrors('population')}" th:errors="*{population}">Population Error</span>
        </div>
        <div>
            <label>GDP</label>
            <input
                    style="width: 100%;
                    padding: 12px 0px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;"
                    type="number" th:field="*{gdp}"/>
            <span style="color: red" th:if="${#fields.hasErrors('gdp')}" th:errors="*{gdp}">GDP Error</span>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>